.avatar-item {
  display: inline-flex;
}

.avatar-item * {
  color: white;
}

.avatar-item-image-container {
  position: relative;
  height: 50px;
  width: 50px;
  margin-right: 20px;
  flex-shrink: 0;
}

.avatar-item-main-image {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  object-fit: cover;
}

.avatar-item-status {
  height: 20px;
  width: 20px;
  position: absolute;
  right: -2px;
  bottom: -2px;
  border-radius: 100%;
}

.avatar-item-status-empty {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.avatar-item-main-info {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.avatar-item-main-info>* {
  margin: 2px 0 0;
}

.avatar-item-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 16px;
}

.avatar-item-message {
  opacity: 0.8;
  font-size: 10px;
}

.avatar-item-footer {
  font-size: 12px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}